services:
  db:
    image: postgres:16
    container_name: eventhub_db
    environment:
      POSTGRES_DB: eventhub_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "6666:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: .
    container_name: eventhub_backend
    ports:
      - "9999:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    restart: no

volumes:
  db_data: