spring:
  application:
    name: EventHub
  datasource:
    url: jdbc:postgresql://localhost:5432/eventhub_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.jdbc.bind: TRACE

jwt:
  secret: asdf123kj12h31kj23gkjg1234fjk1234kjKJHGKJGUIYGiuy1g2uy3gjh12g4kjh1g24
  validity: 3600000

logging:
  level:
    root: info
    org.example.eventhub: debug

